nav.mobile-menu
	a.close
	.wrap
		ul
			li
				a(href='#')
					img(src='img/login2.svg')
					|  Личный кабинет
			li
				a(href='#') Главная
			li
				a
					i.fa.fa-angle-down
					|  Продукты
				ul
					li
						a(href='#') Займ под авто
					li
						a(href='#') Займ для бизнеса
					li
						a(href='#') Рефинансирование
					li
						a(href='#') Автоломбард
					li
						a(href='#') Инвестиции
			li
				a
					i.fa.fa-angle-down
					|  Оформить займ
				ul
					li
						a(href='#') Заявка на займ
					li
						a(href='#') Оплата займа
					li
						a(href='#') Документы
			li
				a
					i.fa.fa-angle-down
					|  О компании
				ul
					li
						a(href='#') Новости
					li
						a(href='#') Блог
					li
						a(href='#') Карьера
					li
						a(href='#') Отзывы
					li
						a(href='#') В продаже
					li
						a(href='#') словия
			li
				a(href='#') Контакты
		.contacts
			.adress
				| Москва, ул. Антонова-Овсеенко, д. 15, стр. 3
			a.phone(href='#') +7 (495) 241-17-26
			a.mail(href='#') info@autocash.ru
header.header
	.wrap.big.header-inner
		ul.is-lg-visible.top-menu
			li
				a(href='#') О компании
			li
				a(href='#') Блог
			li
				a(href='#') Новости
			li
				a(href='#') Документы
			li
				a(href='#') Инвестици
			li
				a(href='#') Контакты
			li
				a(href='#')
					| Ещё 
					i.fa.fa-angle-down
				ul
					li
						a(href='#') Заявка на займ
					li
						a(href='#') Оплата займа
					li
						a(href='#') Карьера
					li
						a(href='#') Отзывы
					li
						a(href='#') Условия
					li
						a(href='#') В продаже
					li
						a(href='#') Карта сайта
			li
		ul.top-menu-other
			li
				a.city(href='#') Москва
				ul
					li
						a(href='#') Санкт-Петербург
					li
						a(href='#') Нижний Новгород
					li
						a(href='#') Владивосток
					li
						a(href='#') Тюмень
					li
						a(href='#') Ярославль
			li.is-lg-visible
				a.card(href='#') Оплатить займ
		hr.header-hr
		// <a href="#" class="city">Москва</a>
		.logo
			a(href='/')
				img(src='img/logo.svg')
		.is-lg-hidden.mob-other
			button.enter-btn
				span
				|  Войти
			a.menu-btn(href='#')
		ul.is-lg-visible.main-menu
			li
				a.menu(href='#')
			li
				a(href='#') займ под авто
			li
				a(href='#') АВТОЛОМБАРД
			li
				a(href='#') Займ для бизнеса
			li
				a(href='#') рефинансирование
		.contacts
			.social
				a(href='#')
					img(src='img/social1.svg')
				a(href='#')
					img(src='img/social2.svg')
			.phone
				a(href='#') +7 495 156-78-98
				span.is-lg-visible 					Без выходных с 9:00 до 21:00
			button.enter-btn.is-lg-visible
				span
				|  Войти