doctype html
html
	head
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet' href='css/style.css')
		link(rel='stylesheet' href='css/slick.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css')
	body
		.wrapper
			include includes/header
			.article-page
				.wrap.big
					.content
						.wrap
							article
								a.back-link(href='#')
									span.is-lg-visible НАЗАД в 
									| БЛОГ
								h2 Займ под залог птс юридическим лицам
								.image
									img(src='img/article.jpg')
								nav.menu
									h3 Содержание
									ul
										li
											a(href='#') Условия и ограничения
										li
											a(href='#') Как избежать ошибок прив выборе автоломбарда?
										li
											a(href='#') Нюансы и возможные ситуации
								h3 Условия и ограничения
								p.mb
									| Такую услугу, как займ под залог ПТС без осмотра автомобиля, предлагают редко. Этот вариант практикуют автоломбарды и некоторые микрокредитные организации в стремлении быстро получить вознаграждение. В процедуре оформления такого экспресс-кредита отсутствует экспертная ревизия транспорта, поэтому кредиторы высоко оценивают возможные риски.
								h3 Как избежать ошибок при выборе автоломбарда?
								p
									| В итоге кредит под залог ПТС без осмотра автомобиля выдаётся на следующих условиях: высокие проценты;
								p Короткий срок действия договора (от нескольких дней до одного месяца);
								p небольшая сумма выдачи.
								p.mb
									| Преимущество такого займа — быстрое оформление. Однако к залогу принимают не все автомобили, а только те, которые относятся к определённой категории по году выпуска, марке и виду ТС (спецтехника, грузовые и легковые автомобили). Мотоциклы и другие средства передвижения тоже могут приниматься к рассмотрению, но только дорогие модели.
								.table
									table
										thead
											tr
												td Банк
												td Размер кредита
												td Срок кредита
												td Ставка
												td Условия
										tbody
											tr
												td Альфа Банк
												td 1 150 000 ₽
												td 36 месяцев
												td 25,9%
												td Здесь будут дополнительные условия оформления кредита
											tr
												td Альфа Банк
												td 1 150 000 ₽
												td 36 месяцев
												td 25,9%
												td Здесь будут дополнительные условия оформления кредита
											tr
												td Альфа Банк
												td 1 150 000 ₽
												td 36 месяцев
												td 25,9%
												td Здесь будут дополнительные условия оформления кредита
											tr
												td Альфа Банк
												td 1 150 000 ₽
												td 36 месяцев
												td 25,9%
												td Здесь будут дополнительные условия оформления кредита
								form.form-request.form-request--mod-theme.is-lg-hidden
									h3.heading-h3 Заявка на займ
									input(type='text' placeholder='+7 (___) ___-__-__').input-phone
									button Отправить
								p
									| Поскольку процедура осмотра автомобиля при оформлении отсутствует, финансовая организация не может судить о реальном техническом состоянии ТС.
								p
									| А значит, установить рыночную стоимость авто невозможно, так же как определить работоспособность и товарный вид. Согласно законам РФ (а именно ст. 554-ФЗ от 27.12.2018 г), ставка по потребительскому кредиту свыше 30 тыс. рублей не должна превышать 29,9% годовых.
								p.mb
									| То есть автоломбард не может искусственно завышать процент вознаграждения, даже если риски высоки. Поэтому кредитор ограничивает сумму, которую выдаёт заёмщику. На данный момент кредитный лимит экспресс-займа под залог ПТС без осмотра в Москве составляет 50 000 рублей (по данным сайта).
								.image
									img(src='img/article2.jpg')
									.image-text
										| В среднем по Москве ставка составляет 0,7… 0,25 процента в день
								h3 Нюансы и возможные ситуации
								.text-heading Константин Константинопольский
								p.mb
									| Микрокредитные организации и автоломбарды начисляют умеренные проценты на данный вид займа. В среднем по Москве ставка составляет 0,7… 0,25 процента в день. Из расчёта максимального срока один месяц переплата составит 1 000–2 500 рублей (по данным vbr.ru). Как заверяют кредиторы, для выдачи займа не требуются поручители, справки, подтверждение доходов.
								h4 Преимуществами данной схемы займа считают:
								ul.ul
									li
										| Возможность удалённого оформления кредита (онлайн) – достаточно сканировать документы и направить их менеджеру на рассмотрение
									li
										| Возможность быстро получить деньги, даже если машина находится в другом городе, на штраф-стоянке, в ремонте и пр.
								.bottom-text
									| Из минусов необходимо отметить высокий риск мошенничества в отношении кредиторов. Поэтому экспресс-займ может оформить лишь тот, кто является владельцем ТС
								.flex.rating-wrap
									.rating
										h5
											| Как вам материал? 
											span
												i 2123 оценок
										.rating-area
											input#star-5(type='radio' name='rating' value='5')
											label(for='star-5' title='Оценка «5»')
											input#star-4(type='radio' name='rating' value='4')
											label(for='star-4' title='Оценка «4»')
											input#star-3(type='radio' name='rating' value='3')
											label(for='star-3' title='Оценка «3»')
											input#star-2(type='radio' name='rating' value='2')
											label(for='star-2' title='Оценка «2»')
											input#star-1(type='radio' name='rating' value='1')
											label(for='star-1' title='Оценка «1»')
									.share
										h5
											| Поделиться 
											span
												i 17 поделилось
										a(href='#')
											img(src='img/share1.svg')
										a(href='#')
											img(src='img/share2.svg')
										a(href='#')
											img(src='img/share3.svg')
										a(href='#')
											img(src='img/share4.svg')
			.info-block.bg
				.wrap
					h3.heading-h3 Похожие публикации
					.list.row.slider-articles
						.col-auto
							.item
								h3.red Акция
								.info-block-img
									img(src='img/info1.jpg')
								.info
									p Британские «ученые» заявили, что в провинциях ещё есть чем поживиться
									.date
										| 20 апреля 2020
						.col-auto
							.item
								h3 Статья
								.info-block-img
									img(src='img/info2.jpg')
								.info
									p Никто не вправе осуждать печальный плач оппозиции
									.date
										| 20 апреля 2020
						.col-auto
							.item
								h3 Новость
								.info-block-img
									img(src='img/info3.jpg')
								.info
									p Семантический разбор внешних противодействий не стал ограничивающим фактором
									.date
										| 20 апреля 2020
						.col-auto
							.item
								h3 Статья
								.info-block-img
									img(src='img/info4.jpg')
								.info
									p
										| Экономическая повестка сегодняшнего дня даёт нам право принимать самостоятельные решения
									.date
										| 20 апреля 2020
			.pre-footer-block.order-mob-11
				.wrap
					.line
					.row.pre-footer-row
						.item.col-lg-4
							h3 Услуги оказывают
							p 					ООО МКК "МультиГлобал" 
								br
								| 					ОГРН: 5177746069584 
							p 					ООО  "Ломбард АвтокапиталЪ" 
								br
								| 					ОГРН: 1137746165281
						.item.col-lg-4
							h3 Документы
							a(href='#') Правила предоставления займов
							br
							a(href='#') Реквизиты ООО МКК «МультиГлобал»
							br
							a(href='#') Свидетельство СРО
							br
							a(href='#') Свидетельство ЦБ РФ
							br
							a(href='#') Политика конфеденциальности
						.item.col-lg-4.pre-footer-contact.is-lg-visible
							div
								a.phone(href='#') + 7 (495) 126-19-75
								button Позвонить
			footer.footer.order-mob-12
				.wrap
					.logo
						a(href='/')
							img(src='img/logo.svg')
					.flex
						.contacts
							.item
								div
									img(src='img/contacts1.svg')
								div
									| Москва, ул. Антонова-Овсеенко, 
									br
									| д.15, стр.3
							.item
								div
									img(src='img/contacts2.svg')
								div
									a(href='#') +7 (495) 241-17-26
									a(href='#') info@autocash.ru
						ul.footer-menu
							li
								a(href='#') Займ под ПТС
							li
								a(href='#') Автозалог
							li
								a(href='#') Займ для бизнеса
							li
								a(href='#') Перезалог ПТС
							li
								a(href='#') Продажа
							li
								a(href='#') Документы
						ul.footer-menu
							li
								a(href='#') Документы
							li
								a(href='#') Калькулятор
							li
								a(href='#') О компании
							li
								a(href='#') Контакты
						.social
							p
								| Отвечаем в 
								br
								| мессенджерах
							a(href='#')
								img(src='img/social4.svg')
							a(href='#')
								img(src='img/social3.svg')
			.hot-line-block.order-mob-13
				.wrap.flex
					.user
						div
							img(src='img/avatar.png')
						div
							a.phone(href='#') 8 (945) 156-78-98
							span
								i горячая линия
					.text
						| АвтокапиталЪ — удобный сервис по получению займов под залог транспортных средств. 
						br
						| 				Более 10 лет мы помогаем нашим заемщикам решить их финансовые вопросы
			.bottom-data-block.order-mob-14
				.wrap
					.row
						.item.col-lg-4
							h3 Условия выдачи
							p
								| Сумма займа: от 50 000 рублей до 3 000 000 рублей, до 90% от стоимости автомобиля.
							p Период погашения долга: 12–36 месяцев.
							p
								| Платежи: Заём погашается ежемесячными равными платежами, которые состоят из оплаты основного долга и процентов. Пеня при просрочке начисляется из расчёта 20% на сумму просроченной задолженности.
							p
								a.phone-item(href='#') +7 (495) 241-17-26
						.item.col-lg-4
							h3 Досрочное погашение
							p
								| Возможно без штрафов в любой день; проценты оплачиваются только за фактический срок пользования деньгами.
							p
								| Минимальная процентная ставка: 30% годовых или 2,5% в месяц, дополнительная комиссия и платежи за выдачу отсутствуют.
							p
								| Максимальная процентная ставка: 88% годовых или 6% в месяц, дополнительная комиссия и платежи за выдачу отсутствуют.
						.item.col-lg-4
							h3 Пример рассчета
							p Сумма займа: 100 000 ₽
							p Период погашения долга: 12 месяцев.
							p Проценты: 4,5% в месяц (42% годовых).
							p Ежемесячный платёж: 11 833 ₽
							p Итого к возврату: 142 000 ₽
							p Банк партнёр: ПАО банк «ФК Открытие»
							p Генеральная лицензия банка России № 2209 от 24.11.2014
		script(src='https://code.jquery.com/jquery-3.4.1.min.js')
		script(type='text/javascript' src='js/slick.min.js')
		script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
		script(src='js/inputmask.min.js')
		script(src='js/common.js')