doctype html
html
	head
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet' href='css/style.css')
		link(rel='stylesheet' href='css/slick.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css')
	body
		.wrapper
			include includes/header
			.catalog-page
				.wrap.big
					.content
						.wrap
							h3.heading-h3.heading-catalog
								| Автомобили в продаже 
								sup
									span 26
							.list.row
								.col-lg-6
									.item
										img(src='img/item.jpg')
										.flex
											.name
												| Cadillac Coupe 3.6 Sport Luxury, 2010 г. в.
											.price
												| 1 150 000 ₽
										a.link(href='#')
								.col-lg-6
									.item
										img(src='img/item.jpg')
										.flex
											.name
												| Cadillac Coupe 3.6 Sport Luxury, 2010 г. в.
											.price
												| 1 150 000 ₽
										a.link(href='#')
								.col-lg-6
									.item
										img(src='img/item.jpg')
										.flex
											.name
												| Cadillac Coupe 3.6 Sport Luxury, 2010 г. в.
											.price
												| 1 150 000 ₽
										a.link(href='#')
								.col-lg-6
									.item
										img(src='img/item.jpg')
										.flex
											.name
												| Cadillac Coupe 3.6 Sport Luxury, 2010 г. в.
											.price
												| 1 150 000 ₽
										a.link(href='#')
								.col-lg-6
									.item
										img(src='img/item.jpg')
										.flex
											.name
												| Cadillac Coupe 3.6 Sport Luxury, 2010 г. в.
											.price
												| 1 150 000 ₽
										a.link(href='#')
								.col-lg-6
									.item
										img(src='img/item.jpg')
										.flex
											.name
												| Cadillac Coupe 3.6 Sport Luxury, 2010 г. в.
											.price
												| 1 150 000 ₽
										a.link(href='#')
							.bottom-link
								a(href='#') Показать ещё
							.form.flex
								form
									.form-inner
										h3.heading-h3 Заявка на займ
										input(type='text' placeholder='+7 (___) ___-__-__').input-phone
										button Отправить
										.bottom-text.is-lg-visible
											| Нажимая на кнопку, я соглашаюсь с 
											a(href='#') политикой конфиденциальности
								.image.is-lg-visible
			.pre-footer-block.order-mob-11
				.wrap
					.line
					.row.pre-footer-row
						.item.col-lg-4
							h3 Услуги оказывают
							p 					ООО МКК "МультиГлобал" 
								br
								| 					ОГРН: 5177746069584 
							p 					ООО  "Ломбард АвтокапиталЪ" 
								br
								| 					ОГРН: 1137746165281
						.item.col-lg-4
							h3 Документы
							a(href='#') Правила предоставления займов
							br
							a(href='#') Реквизиты ООО МКК «МультиГлобал»
							br
							a(href='#') Свидетельство СРО
							br
							a(href='#') Свидетельство ЦБ РФ
							br
							a(href='#') Политика конфеденциальности
						.item.col-lg-4.pre-footer-contact.is-lg-visible
							div
								a.phone(href='#') + 7 (495) 126-19-75
								button Позвонить
			footer.footer.order-mob-12
				.wrap
					.logo
						a(href='/')
							img(src='img/logo.svg')
					.flex
						.contacts
							.item
								div
									img(src='img/contacts1.svg')
								div
									| Москва, ул. Антонова-Овсеенко, 
									br
									| д.15, стр.3
							.item
								div
									img(src='img/contacts2.svg')
								div
									a(href='#') +7 (495) 241-17-26
									a(href='#') info@autocash.ru
						ul.footer-menu
							li
								a(href='#') Займ под ПТС
							li
								a(href='#') Автозалог
							li
								a(href='#') Займ для бизнеса
							li
								a(href='#') Перезалог ПТС
							li
								a(href='#') Продажа
							li
								a(href='#') Документы
						ul.footer-menu
							li
								a(href='#') Документы
							li
								a(href='#') Калькулятор
							li
								a(href='#') О компании
							li
								a(href='#') Контакты
						.social
							p
								| Отвечаем в 
								br
								| мессенджерах
							a(href='#')
								img(src='img/social4.svg')
							a(href='#')
								img(src='img/social3.svg')
			.hot-line-block.order-mob-13
				.wrap.flex
					.user
						div
							img(src='img/avatar.png')
						div
							a.phone(href='#') 8 (945) 156-78-98
							span
								i горячая линия
					.text
						| АвтокапиталЪ — удобный сервис по получению займов под залог транспортных средств. 
						br
						| 				Более 10 лет мы помогаем нашим заемщикам решить их финансовые вопросы
			.bottom-data-block.order-mob-14
				.wrap
					.row
						.item.col-lg-4
							h3 Условия выдачи
							p
								| Сумма займа: от 50 000 рублей до 3 000 000 рублей, до 90% от стоимости автомобиля.
							p Период погашения долга: 12–36 месяцев.
							p
								| Платежи: Заём погашается ежемесячными равными платежами, которые состоят из оплаты основного долга и процентов. Пеня при просрочке начисляется из расчёта 20% на сумму просроченной задолженности.
							p
								a.phone-item(href='#') +7 (495) 241-17-26
						.item.col-lg-4
							h3 Досрочное погашение
							p
								| Возможно без штрафов в любой день; проценты оплачиваются только за фактический срок пользования деньгами.
							p
								| Минимальная процентная ставка: 30% годовых или 2,5% в месяц, дополнительная комиссия и платежи за выдачу отсутствуют.
							p
								| Максимальная процентная ставка: 88% годовых или 6% в месяц, дополнительная комиссия и платежи за выдачу отсутствуют.
						.item.col-lg-4
							h3 Пример рассчета
							p Сумма займа: 100 000 ₽
							p Период погашения долга: 12 месяцев.
							p Проценты: 4,5% в месяц (42% годовых).
							p Ежемесячный платёж: 11 833 ₽
							p Итого к возврату: 142 000 ₽
							p Банк партнёр: ПАО банк «ФК Открытие»
							p Генеральная лицензия банка России № 2209 от 24.11.2014
		script(src='https://code.jquery.com/jquery-3.4.1.min.js')
		script(type='text/javascript' src='js/slick.min.js')
		script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
		script(src='js/inputmask.min.js')
		script(src='js/common.js')