doctype html
html
	head
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet' href='css/style.css')
		link(rel='stylesheet' href='css/slick.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css')
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css')
	body
		.wrapper
			include includes/header
			.index-first-block.service1.order-mob-1
					.wrap.big.wrap-first
						.banner
							.wrap
								.text
									.text__inner
										h2.is-lg-hidden Деньги под залог авто и спецтехники
										h2.is-lg-visible Займы под залог 
											span авто
											|  и спецтехники
										p
											| Честно. Надёжно. Онлайн. 
											span
												i В реестре ЦБ РФ
										img.image(src='img/index-first-block.png').is-lg-visible
										img.image(src='img/index-first-block_mob.png').is-lg-hidden
										img(src="img/img-buildings.png", alt="").is-lg-hidden.img-bg-buildings
										.pre-form.is-lg-visible
											span Введите свой номер и получите до 5 млн ₽ за 30 минут
										.pre-form.is-lg-hidden
											span До 10 млн ₽ за 30 минут
										form.index-first-block__form
											input(type='text' placeholder='+7 (___) ___-__-__').input-phone
											button Оформить
										.bottom-text
											| Нажимая на кнопку я соглашаюсь с 
											a(href="#") политикой конфиденциальности
			.calc-block.order-mob-2
					.wrap
						h2.is-lg-hidden Рассчитайте платёж
						.row
							.item.col-lg-4
								.field
									p сумма займа
									input#amount(type='text' readonly='')
								#slider-range-max
								.values.flex
									div 50 000 P
									div 10 000 000 P
							.item.col-lg-4
								.field
									p срок займа
									input#amount2(type='text' readonly='')
								#slider-range-max2
								.values.flex
									div 1 мес.
									div 36 мес.
							.result.col-lg-4
								.top.flex
									.top-item
										p
											| от 
											span 27 000
											|  ₽
										| 							Ежемесячный платеж
									.line
									.top-item
										p
											| от 
											span 2
											span.percent  %
										| 							Ставка в месяц
								.agree
									input#agree.checkbox(type='checkbox')
									label(for='agree')
										span Минимальный платёж
										| 							Первые 3 месяца оплачивайте только проценты
									.link.is-lg-visible
										a(href='#') График платежей
						.bottom-button
							button.is-lg-visible Оформить
							button.is-lg-hidden Получить деньги
							.is-lg-hidden
								a(href="#").link-plan График платежей
			.technic-block.technic-block--bg-white.order-mob-3.is-lg-hidden
				.wrap
					h2 Принимаем в залог любую технику
					.list.row
						.col-lg-5
							a.item(href='#')
								.technic-item-img
									img(src='img/technic1.png')
								.technic-heading Лёгковые авто
						.col-lg-7
							a.item(href='#')
								.technic-item-img
									img(src='img/technic2.png')
								.technic-heading Спецтехнику
						.col-lg-4
							a.item.item--special(href='#')
								.technic-item-img
									img(src='img/technic3.png')
								.technic-heading Грузовые авто
						.col-lg-4
							a.item(href='#')
								.technic-item-img
									img(src='img/technic4.png')
								.technic-heading Мототехнику
						.col-lg-4
							a.item.item--special(href='#')
								.technic-item-img
									img(src='img/technic5.png')
								.technic-heading Водный транспорт
			.advantages-block.is-lg-visible
				.wrap
					h2 Преимущества
					.list.flex2
						.item
							img(src='img/advantages1.jpg')
							h3 Онлайн оформление
							| 					Принятие решения о срочном займе мы принимаем удалённо
						.item
							img(src='img/advantages2.jpg')
							h3 С любой кредитной историей
							| 					Принятие решения о срочном займе мы принимаем удалённо
						.item
							img(src='img/advantages3.jpg')
							h3 Без лишних вопросов
							| 					Принятие решения о срочном займе мы принимаем удалённо
						.item
							img(src='img/advantages4.jpg')
							h3 Гарантируем надёжность
							| 					Принятие решения о срочном займе мы принимаем удалённо
			.targets-block.order-mob-5.is-lg-hidden
				.wrap
					h2 Преимущества
				.list
					.wrap
						.row
							.item.col-lg-4
								div
									img(src='img/target5.svg')
								div
									span С любой кредитной историей
							.item.col-lg-4
								div
									img(src='img/target14.svg')
								div
									span Выдаем до 90% от стоимости
							.item.col-lg-4
								div
									img(src='img/target2.svg')
								div
									span Договор займа (ЦБ РФ)
							.item.col-lg-4
								div
									img(src='img/target16.svg')
								div
									span Под залог любой техники
			.view-block.order-mob-6.is-lg-hidden.mob-mb0
				.wrap
					.content
						h2 Выездной осмотр
						p Оформите займ, не выходя из дома
						.image
							img(src='img/view-block.png')
						button Заказать выезд
			.program-block.order-mob-7.program-block--mod-offsets
				.wrap
					h2 Программы займов
					.top-text
						| Работаем с физическими и юридическими лицами. Возможен кредит без залога и без сдачи авто. Машина остается у вас или стоит на стоянке.
					.list.row
						.col-lg-4
							a(href="#").item
								img(src='img/program1.jpg').is-lg-visible
								img(src='img/program1_mob.png').is-lg-hidden
								.text
									| Займы под 
									br
									| авто
						.col-lg-4
							a(href="#").item
								img(src='img/program2.jpg')
								.text
									| Займы для 
									br
									| бизнеса
						.col-lg-4
							a(href="#").item
								img(src='img/program3.jpg')
								.text
									| Автоломбард
						.col-lg-4
							a(href="#").item
								img(src='img/program4.jpg').is-lg-visible
								img(src='img/program4_mob.png').is-lg-hidden
								.text
									| Рефинансирование 
									br
									| займов
						.col-lg-4.is-lg-visible
							a(href="#").item
								img(src='img/program5.jpg')
								.text
									p
										span АКЦИЯ
									br
									| 						Минимальный 
									br
									| платеж
			.info-section.order-mob-8.is-lg-hidden
				.wrap
					h2.heading-h2 Займы для малого бизнеса
					p Оформите займ, не выходя из офиса
					.info-section__img
						img(src="img/employee.jpg", alt="")
					.info-section__btn
						a(href="#").btn.btn-base Заказать выезд
			.steps-block.order-mob-4
				.wrap
					h2 Как оформить?
					.row.steps-block-row
						.col-lg-4.is-lg-visible
							.phone-form
								img(src='img/phone.png')
								.logo
									img(src='img/logo2.svg')
								form
									p Получите одобрение прямо сейчас в Whatsapp
									input(type='text' placeholder='+7 (___) ___-__-__').input-phone
									button Получить деньги
						.col-lg-7.offset-lg-1
							.content
								h2.is-lg-visible Всё очень просто!
								.list
									.item
										.step
											| 1 шаг
											span 2 минуты
										h3 Оставьте заявку
										p можно на сайте, по телефону или через мессенджер
										.social
											a(href='#')
												img(src='img/social3.svg')
											a(href='#')
												img(src='img/social4.svg')
									.item
										.step
											| 2 шаг
											span 3 минуты
										h3 Оставьте заявку 22
										p можно на сайте, по телефону или через мессенджер
										.social
											a(href='#')
												img(src='img/social3.svg')
											a(href='#')
												img(src='img/social4.svg')
									.item
										.step
											| 3 шаг
											span 22 минуты
										h3 Оставьте заявку 33
										p можно на сайте, по телефону или через мессенджер
										.social
											a(href='#')
												img(src='img/social3.svg')
											a(href='#')
												img(src='img/social4.svg')
			.reviews-block.order-mob-10
				.wrap
					.flex
						h2
							| Нам доверяют 
							span
								i В реестре ЦБ РФ
						button.top-button.is-lg-visible Оставить отзыв
					.row
						.list.col-lg-4
							.item
								.video
									img(src='img/review1.jpg')
									a.play(href='#')
							.item
								.name
									| Вячеслав, ИП, Москва
								p
									| Отношение сотрудников вежливое и учтивoе, отвечают развёрнуто и на понятном языке. Деньги выдали сразу же пoсле того, как заложил мaшину, в размере 400 тыс. рублей. Дaлее все пoгасил и вернул свoю машину, прoблем с этим не вoзникло. Рекoмендую к обращению.
								.flex
									.author
										| Источник: 
										a(href='#') Яндекс
									.date
										| 12 декабря 2019
							.item
								.name
									| Александра Р
								p Все супер. Быстро и надёжно
								.flex
									.author
										| Источник: 
										a(href='#') Яндекс
									.date
										| 12 декабря 2019
							.item
								.video
									img(src='img/review2.jpg')
									a.play(href='#')
						.list.col-lg-4
							.item
								.name
									| Александра Р
								p
									| Как хорошо, когда берёшь кредит под залог автомобиля, а тебе не «любят» мозг справками, страховками, кредитными историями, обращениями к независимым оценщикам. «Автокапитал» делает все быстро и на месте: пригнал машину, оценили, подписали договор, выдали деньги. Что важно: на все про все ушло меньше часа. Все б так работали, легче жить было бы.
								.flex
									.author
										| Источник: 
										a(href='#') Яндекс
									.date
										| 12 декабря 2019
							.item
								.video
									img(src='img/review3.jpg')
									a.play(href='#')
							.item
								.name
									| Мария Т
								p
									| Смогла быстро получить займ под залог ПТС. Сотрудники дали хорошую консультацию и все объяснили. Процент очень адекватный и не смогла найти никаких подводных камней!
								.flex
									.author
										| Источник: 
										a(href='#') Яндекс
									.date
										| 12 декабря 2019
						.list.col-lg-4
							.item
								.video
									img(src='img/review4.jpg')
									a.play(href='#')
							.item
								.name
									| Татьяна П
								p Обращалась в экстренной ситуации. Быстро помогли. Отличный коллегтив. Спасибо
								.flex
									.author
										| Источник: 
										a(href='#') Яндекс
									.date
										| 12 декабря 2019
							.item
								.name
									| Степан С
								p
									| Смогла быстро получить займ под залог ПТС. Сотрудники дали хорошую консультацию и все объяснили. Процент очень адекватный и не смогла найти никаких подводных камней!
								.flex
									.author
										| Источник: 
										a(href='#') Яндекс
									.date
										| 12 декабря 2019
					.bottom-link
						a(href='#') Показать ещё
			.about-block.order-mob-9
				.wrap
					h2 О компании
					.row
						.col-lg-5.top-text
							p
								| Финансовая группа Автокапиталъ входит в число ведущих компаний на рынке микрофинансирования в России
							p
								span На протяжении 10 лет
								|  мы активно предоставляем займы физическим лицам и представителям малого бизнеса под залог транспортных средств.
						.top-counts.flex.col-lg-6.offset-lg-1
							.item
								span 10 лет
								| 						на рынке
							.item
								span 72%
								| 						обращаются повторно
							.item
								span 1 500 000 000 ₽
								| 						выданных займов
					.photos
						.item.order-mob-1
							a(href='img/about1.jpg' data-fancybox='gallery')
								img(src='img/about1.jpg')
						.item.order-mob-5
							a(href='img/about2.jpg' data-fancybox='gallery')
								img(src='img/about2.jpg')
						.item.order-mob-2
							a(href='img/about3.jpg' data-fancybox='gallery')
								img(src='img/about3.jpg')
						.item.big.order-mob-4
							a(href='img/about4.jpg' data-fancybox='gallery')
								img(src='img/about4.jpg')
						.item.big.order-mob-3
							a(href='img/about5.jpg' data-fancybox='gallery')
								img(src='img/about5.jpg')
						.item.order-mob-6
							a(href='img/about6.jpg' data-fancybox='gallery')
								img(src='img/about6.jpg')
						.item.order-mob-7
							a(href='img/about7.jpg' data-fancybox='gallery')
								img(src='img/about7.jpg')
						.item.order-mob-8
							a(href='img/about8.jpg' data-fancybox='gallery')
								img(src='img/about8.jpg')
					.photos-link.is-lg-hidden
						a Показать ещё
					.row
						.advantages.col-lg-4.is-lg-visible
							.item
								div
									img(src='img/advantages1.svg')
								div Давно на рынке
							.item
								div
									img(src='img/advantages2.svg')
								div Входим в реестр ЦБ РФ
							.item
								div
									img(src='img/advantages3.svg')
								div Состоим в СРО
						.docs.col-lg-8
							.list
								.item
									a(href='img/doc.png' data-fancybox='gallery2')
										img(src='img/doc.png')
								.item
									a(href='img/doc.png' data-fancybox='gallery2')
										img(src='img/doc.png')
								.item
									a(href='img/doc.png' data-fancybox='gallery2')
										img(src='img/doc.png')
								.item
									a(href='img/doc.png' data-fancybox='gallery2')
										img(src='img/doc.png')
								.item
									a(href='img/doc.png' data-fancybox='gallery2')
										img(src='img/doc.png')
								.item
									a(href='img/doc.png' data-fancybox='gallery2')
										img(src='img/doc.png')
						.get-loan.is-lg-hidden
							div
								a(href="#").btn.btn-base Оформить заём
							div
								a(href="tel:+ 7 (495) 126-19-75").phone + 7 (495) 126-19-75
					.is-lg-hidden.safely
						h3.safely__heading С нами надежно
						.safely__items-wrap
							.safely__item
								.safely__item-icon
									img(src="img/cb_rf.png", alt="")
								.safely__item-text Включены в реестр
									br
									strong МФО ЦБ РФ
									br
									| (запись №1703045008571)
							.safely__item
								.safely__item-icon
									img(src="img/сро1.png", alt="")
								.safely__item-text Состоим в 
									|
									strong СРО “МиР”

			
			
			.map-block.order-mob-11
				.wrap
					.row
						.col-lg-5
							.list.tabs2
								h3.is-lg-hidden Где оформить
								div
									select
										option Санкт-Петербург
										option Санкт-Петербург 2
										option Санкт-Петербург 3
								ul.tabNavigation
									li
										a(href='#tab1') Офисы
									li
										a(href='#tab2') Онлайн-заявка
									li
										a(href='#tab3') Заказать выезд
								#tab1
									h2.is-lg-visible Работаем без выходных
									.adress-switch
										.adress-switch__heading м. Выставочная (основной офис)
										| г. Москва, ул. Антонова-Овсенко, д.15, стр.3
									.items.metro-items
										.item
											span.metro м. Выставочная (основной офис)
											| 							г. Москва, ул. Антонова-Овсенко, д.15, стр.3
										.item
											span.metro м. Маяковская
											| 							г. Москва, Оружейный пер., д.13, стр.1
										.item
											span.metro м. Нахимоский Проспект
											| 							г. Москва, ул. Одесская, д.2, корп. А
										.item
											span.metro м. Перово
											| 							г. Москва, ул. Кусковская, д.12
										.item
											span.metro м. Бабушкинская
											| 							г. Москва, ул. Лётчика Бабушкина, д.32, корп.3
									.is-lg-hidden.map-section
										img(src="img/map.jpg", alt="")
									.contacts
										.links
											div
												a(href='#') +7 (495) 156 78 98
												a(href='#') info@autocash.ru
											.social
												a(href='#')
													img(src='img/social3.svg')
												a(href='#')
													img(src='img/social4.svg')
										.hours
											span Без выходных
											| 							с 9:00 до 21:00
								#tab2
									form
										.field
											p сумма займа
											input#amount5(type='text' readonly='')
										#slider-range-max5
										.values.flex
											div 50 000 P
											div 10 000 000 P
										input(type='text' placeholder='Ваше имя')
										input(type='text' placeholder='+7 (___) ___-__-__').input-phone
										button Отправить
									.contacts
										.links
											div
												a(href='#') +7 (495) 156 78 98
												a(href='#') info@autocash.ru
											.social
												a(href='#')
													img(src='img/social3.svg')
												a(href='#')
													img(src='img/social4.svg')
										.hours
											span Без выходных
											| 							с 9:00 до 21:00
								#tab3
									form
										.field
											p сумма займа
											input#amount4(type='text' readonly='')
										#slider-range-max4
										.values.flex
											div 50 000 P
											div 10 000 000 P
										input(type='text' placeholder='Адрес')
										input(type='text' placeholder='Марка автомобиля')
										.flex
											input(type='text' placeholder='Модель автомобиля')
											input(type='text' placeholder='Год выпуска')
											input(type='text' placeholder='Ваше имя')
											input(type='text' placeholder='+7 (___) ___-__-__').input-phone
										button Отправить
									.contacts
										.links
											div
												a(href='#') +7 (495) 156 78 98
												a(href='#') info@autocash.ru
											.social
												a(href='#')
													img(src='img/social3.svg')
												a(href='#')
													img(src='img/social4.svg')
										.hours
											span Без выходных
											| 							с 9:00 до 21:00
						.col-lg-7.is-lg-visible
							.map
								.item(style='top: 40%; left: 40%;')
								.item(style='top: 55%; left: 54%;')
								.item(style='top: 35%; left: 74%;')
								button Проложить маршрут
			
			.info-block.is-lg-visible
				.wrap
					h2.heading-h2 Полезное
					.list.row
						.col-lg-3
							.item
								h3.red Акция
								img(src='img/info1.jpg')
								.info
									p Британские «ученые» заявили, что в провинциях ещё есть чем поживиться
									.date
										| 20 апреля 2020
						.col-lg-3
							.item
								h3 Статья
								img(src='img/info2.jpg')
								.info
									p Никто не вправе осуждать печальный плач оппозиции
									.date
										| 20 апреля 2020
						.col-lg-3
							.item
								h3 Новость
								img(src='img/info3.jpg')
								.info
									p Семантический разбор внешних противодействий не стал ограничивающим фактором
									.date
										| 20 апреля 2020
						.col-lg-3
							.item
								h3 Статья
								img(src='img/info4.jpg')
								.info
									p
										| Экономическая повестка сегодняшнего дня даёт нам право принимать самостоятельные решения
									.date
										| 20 апреля 2020
			
			.pre-footer-block.order-mob-12
				.wrap
					.line
					.row.pre-footer-row
						.item.col-lg-4
							h3 Услуги оказывают
							p 					ООО МКК "МультиГлобал" 
								br
								| 					ОГРН: 5177746069584 
							p 					ООО  "Ломбард АвтокапиталЪ" 
								br
								| 					ОГРН: 1137746165281
						.item.col-lg-4
							h3 Документы
							a(href='#') Правила предоставления займов
							br
							a(href='#') Реквизиты ООО МКК «МультиГлобал»
							br
							a(href='#') Свидетельство СРО
							br
							a(href='#') Свидетельство ЦБ РФ
							br
							a(href='#') Политика конфеденциальности
						.item.col-lg-4.pre-footer-contact.is-lg-visible
							div
								a.phone(href='#') + 7 (495) 126-19-75
								button Позвонить
			footer.footer.order-mob-13
				.wrap
					.logo
						a(href='/')
							img(src='img/logo.svg')
					.flex
						.contacts
							.item
								div
									img(src='img/contacts1.svg')
								div
									| Москва, ул. Антонова-Овсеенко, 
									br
									| д.15, стр.3
							.item
								div
									img(src='img/contacts2.svg')
								div
									a(href='#') +7 (495) 241-17-26
									a(href='#') info@autocash.ru
						ul.footer-menu
							li
								a(href='#') Займ под ПТС
							li
								a(href='#') Автозалог
							li
								a(href='#') Займ для бизнеса
							li
								a(href='#') Перезалог ПТС
							li
								a(href='#') Продажа
							li
								a(href='#') Документы
						ul.footer-menu
							li
								a(href='#') Документы
							li
								a(href='#') Калькулятор
							li
								a(href='#') О компании
							li
								a(href='#') Контакты
						.social
							p
								| Отвечаем в 
								br
								| мессенджерах
							a(href='#')
								img(src='img/social4.svg')
							a(href='#')
								img(src='img/social3.svg')
			.hot-line-block.order-mob-14
				.wrap.flex
					.user
						div
							img(src='img/avatar.png')
						div
							a.phone(href='#') 8 (945) 156-78-98
							span
								i горячая линия
					.text
						| АвтокапиталЪ — удобный сервис по получению займов под залог транспортных средств. 
						br
						| 				Более 10 лет мы помогаем нашим заемщикам решить их финансовые вопросы
			.bottom-data-block.order-mob-15
				.wrap
					.row
						.item.col-lg-4
							h3 Условия выдачи
							p
								| Сумма займа: от 50 000 рублей до 3 000 000 рублей, до 90% от стоимости автомобиля.
							p Период погашения долга: 12–36 месяцев.
							p
								| Платежи: Заём погашается ежемесячными равными платежами, которые состоят из оплаты основного долга и процентов. Пеня при просрочке начисляется из расчёта 20% на сумму просроченной задолженности.
							p
								a.phone-item(href='#') +7 (495) 241-17-26
						.item.col-lg-4
							h3 Досрочное погашение
							p
								| Возможно без штрафов в любой день; проценты оплачиваются только за фактический срок пользования деньгами.
							p
								| Минимальная процентная ставка: 30% годовых или 2,5% в месяц, дополнительная комиссия и платежи за выдачу отсутствуют.
							p
								| Максимальная процентная ставка: 88% годовых или 6% в месяц, дополнительная комиссия и платежи за выдачу отсутствуют.
						.item.col-lg-4
							h3 Пример рассчета
							p Сумма займа: 100 000 ₽
							p Период погашения долга: 12 месяцев.
							p Проценты: 4,5% в месяц (42% годовых).
							p Ежемесячный платёж: 11 833 ₽
							p Итого к возврату: 142 000 ₽
							p Банк партнёр: ПАО банк «ФК Открытие»
							p Генеральная лицензия банка России № 2209 от 24.11.2014

		script(src='https://code.jquery.com/jquery-3.4.1.min.js')
		script(type='text/javascript' src='js/slick.min.js')
		script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js")
		script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
		script(src='js/jquery.responsiveTabs.js')
		script(src='js/inputmask.min.js')
		script(src='js/common.js')
		script.
			$( function() {
			$( "#slider-range-max" ).slider({
				range: "max",
				min: 50000,
				max: 10000000,
				step: 5000,
				value: 5000000,
				slide: function( event, ui ) {
					$( "#amount" ).val( ui.value + " ₽");
				}
			});
			$( "#amount" ).val( $( "#slider-range-max" ).slider( "value" ) + " ₽" );
			} );
		script.
			$( function() {
				$( "#slider-range-max2" ).slider({
				range: "max",
				min: 1,
				max: 36,
				value: 18,
				slide: function( event, ui ) {
					$( "#amount2" ).val( ui.value + " мес.");
				}
			});
			$( "#amount2" ).val( $( "#slider-range-max2" ).slider( "value" ) + " мес." );
			} );
		script.
			$( function() {
				$( "#slider-range-max4" ).slider({
				range: "max",
				min: 50000,
				max: 10000000,
				step: 5000,
				value: 5000000,
				slide: function( event, ui ) {
					$( "#amount4" ).val( ui.value + " ₽");
				}
			});
			$( "#amount4" ).val( $( "#slider-range-max4" ).slider( "value" ) + " ₽" );
			} );
		script.
			$( function() {
				$( "#slider-range-max5" ).slider({
				range: "max",
				min: 50000,
				max: 10000000,
				step: 5000,
				value: 5000000,
				slide: function( event, ui ) {
					$( "#amount5" ).val( ui.value + " ₽");
				}
			});
			$( "#amount5" ).val( $( "#slider-range-max5" ).slider( "value" ) + " ₽" );
			} );