doctype html
html
	head
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet' href='css/style.css')
		link(rel='stylesheet' href='css/slick.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css')
		script(src='https://code.jquery.com/jquery-3.4.1.min.js')
		script(type='text/javascript' src='js/slick.min.js')
		script(src='js/app.min.js')
		script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
	body
		.wrapper
			.wrap(style="padding: 30px 0;")
				h1(style="margin: 0 0 20px; padding: 0;") Page list:
				ul.page-list(style="text-transform: uppercase; columns: 2; display: inline-block; list-style-position: inside; margin: 0; padding: 0; font-size: 16px;")
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="404.html" style="color: black; text-decoration: none;") 404.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="about.html" style="color: black; text-decoration: none;") about.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="article.html" style="color: black; text-decoration: none;") article.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="blog.html" style="color: black; text-decoration: none;") blog.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="calc.html" style="color: black; text-decoration: none;") calc.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="card-payments.html" style="color: black; text-decoration: none;") card-payments.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="catalog.html" style="color: black; text-decoration: none;") catalog.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="conditions.html" style="color: black; text-decoration: none;") conditions.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="contacts.html" style="color: black; text-decoration: none;") contacts.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="docs.html" style="color: black; text-decoration: none;") docs.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="faq.html" style="color: black; text-decoration: none;") faq.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="for-clients.html" style="color: black; text-decoration: none;") for-clients.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="index.html" style="color: black; text-decoration: none;") index.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="item.html" style="color: black; text-decoration: none;") item.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="job.html" style="color: black; text-decoration: none;") job.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="page-list.html" style="color: black; text-decoration: none;") page-list.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="payments.html" style="color: black; text-decoration: none;") payments.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="popups.html" style="color: black; text-decoration: none;") popups.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="reviews.html" style="color: black; text-decoration: none;") reviews.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="service1.html" style="color: black; text-decoration: none;") service1.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="service2.html" style="color: black; text-decoration: none;") service2.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="service3.html" style="color: black; text-decoration: none;") service3.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="service4.html" style="color: black; text-decoration: none;") service4.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="service5.html" style="color: black; text-decoration: none;") service5.html
					li(style="margin-bottom: 10px; padding-bottom: 2px;")
						a(href="sitemap.html" style="color: black; text-decoration: none;") sitemap.html